@import "../../globals/variables.scss";

.Container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background: $persian-green;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.Naziv {
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px dotted $crayola;
}

// .MaksBodova {
//   padding: 3rem;
// }

.Bodovi {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid white;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  width: 100%;
}
